/*===============
        02
================*/ 
$modal-red = #e64e4e;
.modal{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -70px;
    margin-left: -194px;
    width:388px;
    height: 140px;
    background: $modal-red url(../images/modal-bg.png) no-repeat 35px center;
    .modal-wrap {
        height: 100%;
        padding-left: 147px;
        p {
            color: #fdeeee;
            margin: 0;
            padding: 30px 0;
        }
        a {
            display: inline-block;
            color: #fdeeee;
            text-decoration: none;
            width: 80px;
            height: 30px;
            border: 1px solid white;
            border-radius: 20px;
            line-height: 30px;
            text-align: center;
            vertical-align: middle;
            margin-right: 15px;
        }
        a:hover {
            background-color: white;
            color: $modal-red;
        }
    }
}
