


/*===============
        03
================*/
.menu {
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -30px;
    margin-left: -155px;
    height: 60px;
    width: 310px;
    clearfix();
    .links {
        background-color: #7fa1b4;
        display: block;
        width:100%;
        height:100%;
        line-height: 60px;
        text-align: center;
        border-radius: 7px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: 0.3s;
        &:hover{
            background-color: #7fa1b4 - 20%;
        }
    }
    
    > div:after {
        content: '';
        position: absolute;
        height: 30px;
        width: 100%;
        left:0;
        bottom:-25px;
        background-color: transparent;
    }
    > div:hover .list{
        display: block;
    }
    .list {
        position: absolute;
        left:0;
        top: 80px;
        width:100%;
        display: none;            
        ul {
            padding: 0;
            margin: 0;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
            border-radius: 5px;
            &:before{
                position: absolute;
                width:21px;
                height:10px;
                left: 50%;
                margin-left:-10.5px;
                top:-10px;
                content: ''
                background-image: url(../images/button-arrow.png);
            }
        }
        li {
            display: block;
            width:100%;
            height: 60px;
            &:first-child a{
                border-top-left-radius:5px;
                border-top-right-radius:5px;
            }
            &:last-child a{
                border-bottom-left-radius:5px;
                border-bottom-right-radius:5px;
            }
            a{
                display:block;
                width:100%;
                height:100%;
                background-color: white;
                background-repeat:  no-repeat;
                background-position: center center;
                color:black;
                text-decoration: none;
                line-height: 60px;
                text-align: center;
                font-weight: bold;
                &:hover{
                    background-color:#f5f5f5;
                    color:#8ec7e7;
                }   
            }
        }
    }
    .parametres {
        position: relative;
        float:left;
        width:70px;
        height:100%;
        
        .links {
            background-image: url(../images/button-31.png);
            background-repeat:  no-repeat;
            background-position: center center;
        }
        .list{
            ul li {                
                a{                    
                    &.button-32{
                        background-image: url(../images/button-32.png);
                        &:hover{
                           background-image: url(../images/button-32-hover.png); 
                        }
                    }   
                    &.button-33{
                        background-image: url(../images/button-33.png);
                        &:hover{
                           background-image: url(../images/button-33-hover.png); 
                        }
                    }
                    &.button-34{
                        background-image: url(../images/button-34.png);
                        &:hover{
                           background-image: url(../images/button-34-hover.png); 
                        }
                    }
                                  
                }
            }
        }
    }
    .options {
        position: relative;
        float: right;
        width:190px;
        height:100%;
    }
}
@media screen and (max-width: 768px) {
    .menu .links{
        background-color: blue;
    }
}