.buttons-01 {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
    .button-wrap {
        display: table-cell;
        vertical-align: middle;
    }
    .link{
        display: inline-block;
        margin-left: 7.5px;
        margin-right: 7.5px; 
        text-align: center;
        vertical-align: middle;
        background-color: #6f788b;
        width: 44px;
        height: 36px;
        line-height: @height;
        box-shadow: 0 1px 4px rgba(80, 90, 111, 0.9);
        border-radius: 5px;    
        transition: all 0.25s ease-in;
    }
    .link:hover {
        background-color: #636c7e;
        box-shadow: inset 0 0 4px 2px rgba(80, 90, 111, 0.9);
        
    }
    .button-1{background: url(../images/button-1.png) no-repeat center center;}
    .button-2{background: url(../images/button-2.png) no-repeat center center;}
    .button-3{background: url(../images/button-3.png) no-repeat center center;}
}
@media screen and (max-width: 768px) {
    .buttons-01{
        .buttons .link{
            width: 100%;
            height: 100px;
            margin: 25px 0;
            background-color: #ff0
        }
    }
}
@media screen and (max-width: 320px) {
    .buttons-01{
        .buttons .link{
            height: 75px;
            background-color: green;
        }
    }
}

