.menu02_03 {
    width:auto;
    padding: 0 15px;
    ul {
        list-style-type:none;
        background-color: #2b2937;
        height: 50px;
        width: auto;
        box-shadow: 0px 5px 0px #1a1822;
        border-radius:8px;
        padding: 0;
        overflow: hidden;
        li {
            display: inline-block;
            width: auto;
            a {
                position relative
                display: inline-block;
                text-decoration: none;
                height:50px;
                line-height: @height;
                text-align: center;
                vertical-align: middle;
                color: white;
                font-size: 0.8em;
                font-weight: bold;
                padding: 0 30px;
                &:hover {
                    background-color: #394264;
                    box-shadow: 0px 5px 0px #252c45;
                }
                &:active {
                    position: relative;
                    box-shadow: inset 0 2px 1px rgba(37, 44, 69, .5), inset 3px 0 2px rgba(37, 44, 69, .5);
                    // top: 4px
                }
                &:after{
                    content: ''
                    position absolute
                    left 0
                    bottom -5px
                    width 100%
                    height 5px
                    background-color: #394264
                    display none
                }
                &:active:after{
                    display block
                }
            }
        }
    }
}