/*input[type="checkbox"] {
    display:none;
}   
input[type="checkbox"] + label span{
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    background: url(../images/06-1.png) left top no-repeat;
}
input[type="checkbox"]:checked + label span{
    background:url(../images/06-2.png) top no-repeat;
}
input[type="radio"] {
    display:none;
}   
input[type="radio"] + label span{
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    background: url(../images/06-3.png) left top no-repeat;
}
input[type="radio"]:checked + label span{
    background:url(../images/06-4.png) top no-repeat;
}*/