.s02_07 {
    height: 450px;
    width: 300px;
    background-color: #2b2937;
    border-radius: 5px;
    h1 {
        font-size:1.143em;
        font-weight: lighter;
        text-align: center;
        padding: 32px 0 10px 0;
        color: white;
    }
    .form {
        input{
            box-sizing: border-box;
            display: block;
            height: 50px;
            width: 275px;
            border: 1px solid #0f0f11;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 18px;
            outline:none;
            padding-left: 50px;
            font-size: 0.875em;
            color: white;
            &:active, &:focus {
                border: 1px solid #1abc9c;
            }
        }
        input[type=password] {
            background: url(../images/s02-07-2.png) no-repeat no-repeat 18px;
            background-color: #394264;
        }
        input[type=email] {
            background: url(../images/s02-07-1.png) no-repeat no-repeat 15px;
            background-color: #394264;
        }
    }
    button {
        display: block;
        height: 50px;
        width: 195px;
        background-color: #1abc9c;
        border-radius: 5px;
        border: 0px;
        margin: 0 52.5px 0 52.5px;
        margin-top: 32px;
        color: rgba(255,255,255,.85);
        font-weight: bold;
        outline: none;
        &:active {
            height: 50px;
            width: 195px;
            padding-top: 1px;
            color: rgba(255,255,255,1);
            box-shadow: 0px -2px 0px #1c705f inset, -2px 0px 0px #1c705f inset, 0px 2px 0px #1c705f inset, 2px 0px 0px #1c705f inset;
        }  
    }
    .forgot-password {
        display: inline-block;
        text-align: center;
        width: 300px;
        padding-top:12px;
        a {
            text-decoration: none;
            font-size: 0.75em;
            color: #83879b;
            &:hover, &:active{
                text-decoration: underline;
                color: white;
            }
        }
    }
} 

