.list {
    display:inline-block;
    width: 100%;
    height:50px;
    font-size: 0.8em;
    ul.bread {
        width: auto;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
        li {
            display: inline-block;
            padding-left: 30px;
            &:first-child {
                padding-left: 12px;
            }
            &:last-child a{
                color: red;
                &:after {
                    display: none;
                }
            }
            a{
                color: #9095aa;
                line-height: 50px;
                text-decoration: none;
                text-align: center;
                position: relative;
                font-weight: bold;
                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width:30px;
                    height:50px;
                    background: url("../images/button-arrowright.png") no-repeat center center;
                }
            }
        }
    }
}