.example02-05 {
    min-width: 525px;
    height: 50px;
    padding: 10px 7px 10px 7px;
    ul.pagination-05 {
        display:inline-block;
        background-color: #2b2937;
        margin:0;
        padding:0;
        height:50px;
        border-radius: 8px;
        box-shadow: 0px 5px 0px #1a1822;
        list-style-type: none;
        li {
            display: inline-block;
            width:37.5px;
            height:50px;
            line-height: @height;
            text-align: center;
            vertical-align: middle;
            a {
                color: #9095aa;
                float: left;
                width:inherit;
                height:inherit;
                line-height: inherit;
                text-decoration: none;
                &:not(.first):not(.last):hover {
                    color: white;
                    background: url(../images/focused-05.png) no-repeat no-repeat 50% 50%;
                }                
            }
            
        }
        li:first-child {
            background: url(../images/Shape-05-1.png) no-repeat no-repeat 50% 50%;
            background-color: #313855;
            border-radius: 8px 0 0 8px;
        }
        li:last-child {
            background: url(../images/Shape-05-2.png) no-repeat no-repeat 50% 50%;
            background-color: #313855;
            border-radius: 0 8px 8px 0;
        }
    }
    
}