.s02-09 {
    position: relative;
    height: 325px;
    width: 305px;
    background-image: url(../images/s02-09-1.jpg);
    overflow: hidden;
    border-radius: 5px;
    p {
        display: inline-block;
        position: absolute;
        box-sizing: border-box;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: rgba(255,255,255,.8);
            }
        }
    }
    .news-title-1 {
        width:170px;
        height: 35px;
        line-height: 5px;
        margin: 0 0 0 0;
        padding: 15px 15px 15px 15px;
        color: white;
        background-color: #1abc9c;
        font-size: 0.75em;
        font-weight: bold;
    }
    .news-title-2 {
        width: 280px;
        height: 80px;
        line-height: 1.125em;
        vertical-align: middle
        top: 35px;
        margin: 0;
        font-size: 1.125em;
        padding: 20px 25px 25px 15px;
        background-color: #2b2937;
        color: white;
    }
}