.button-04 {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    width: 220px;
    height: 55px;
    line-height: @height;
    background-color:#1abc9c;
    border-radius:8px;
    color: white;
    font-size: 1.1em;
    font-weight:bold;
    text-decoration:none;
    box-shadow: 0px 5px 0px #18937b;
    &:hover {
        background-color: #18937b;
        box-shadow: 0px 5px 0px #0c5d4d;  
    }
    &:active {
        background-color: #0c5d4d;
        box-shadow: 0px 5px 0px #053e33; 
    }
}