.menu02-04  {
    min-height: 80px;
    width: auto;
    padding: 12px 17px 0 17px;
    ul {
        margin: 0;
        min-height: 80px;
        background-color: #2b2937;
        box-shadow: 0px 5px 0px #1a1822;
        border-radius:8px;
        padding: 0;
        list-style-type: none;
        li {
            position: relative;
            display: inline-block;
            width: auto;
            height: 80px;
            line-height: @height;
            div {
                position: absolute;
                display: inline-block;
                height: 48px;
                width: 48px;
                top: 16px;
                right: 15px;
                border:2px solid white;
                border-radius: 50%;
                background-size: cover;
                overflow: hidden;
                img {
                    position absolute
                    left: -18px;
                    top: -5px;
                }
            }
            a {
                display: inline-block;
                height:80px;
                padding: 0 30px;
                margin: 0 30px;
                line-height: @height;
                text-decoration: none;
                color: white;
                font-weight: normal;
                font-size: 1.125em;
                text-align: right;
                vertical-align: middle;
            }
            a.menu-02-04-1 {
                background: url(../images/button-241.png) no-repeat left 50%;
            }
            a.menu-02-04-2 {
                position: relative;
                background: url(../images/button-242.png) no-repeat left 50%;
                &:after{
                    content: '33';
                    display:inline-block;
                    position: absolute;
                    left: 117px;
                    top: 29px;
                    background: red;
                    line-height: 1em;
                    padding: .2em .4em; // padding: .4em; for content>10
                    color: white;
                    text-indent: 0;
                    text-align: center;
                    text-shadow:0px 1px 0px rgba(0, 0, 0, .5);
                    font-size: 0.8em;
                    font-weight: 500;
                    border-radius:50%;
                    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
                }
            }
            a.menu-02-04-3 {
                background: url(../images/button-244.png) no-repeat left 47%;
            }
            }
        li.menu-02-04-41 a.menu-02-04-4 {
            background: url(../images/button-24-arrowdown.png) no-repeat 37% 50%;
            margin: 0 5px;
            padding: 0 100px 0 5px;
        }
        }
        li.menu-02-04-41 {
            position:absolute;
            right: 15px;
            text-align: left;
            &:hover .drop_menu {
                top:70px;
            }
            .drop_menu {
                position: absolute;
                display: block;
                box-sizing: border-box;
                top:-9999px;
                height: 160px;
                width: 170px;
                right: 0px;
                background-color: transparent;
                li.arrow_box {
                    position: relative;
                    background: #394264;
                    border-radius: 5px 5px 0 0;
                    margin-top: 30px;
                    &:after {
                        bottom: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        display:block;
                        pointer-events: none;
                        border-color: rgba(136, 183, 213, 0);
                        border-bottom-color: #394264;
                        border-width: 7px;
                        margin-left: -7px;
                        overflow: visible;
                    }
                }
                li {
                    display: block;
                    width: 170px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #394264;
                    padding-left: 50px;
                    &:nth-child(even) {
                        background-color: #313855;
                    }
                    &:last-child {
                        border-radius: 0 0 5px 5px;
                    }
                }
            }
        }
}