.s02_08 {
    height: 770px;
    width: 650px;
    background-color: #2b2937;
    border-radius: 5px;
    box-shadow: 0px 4px 0px #1a1822;
    h1 {
        font-weight: lighter;
        padding: 40px 0px 0px 70px;
        color: white;
        background: url(../images/s02-08-1.png) no-repeat no-repeat 34px 48px;
        margin: 20px 0 10px 0;
    }
    input{
        box-sizing: border-box;
        display:block;
        height: 50px;
        width: 276px;
        border: 1px solid #0f0f11;
        border-radius: 6px;
        padding: 0px 0px 0px 20px;
        background-color: #394264;
        margin: 30px 0 0 0;
        font-size: 0.875em;
        outline: none;
        color: white;
    }
    .form11 {
        float:left;
        margin-left: 32px;
    }
    .form12 {
        float:right;
        margin-right: 32px;
    }
    .block-1-form {
        height: 355px;
        border-bottom: 1px solid #494a5a;
    }
    h1.payment {
        padding: 40px 0px 0px 80px;
        background: url(../images/s02-08-2.png) no-repeat no-repeat 35px 50px;
        margin: 0 0 20px 0;
    }
    .block-2-form {
        position: relative;
        height: 415px;
        input[type="checkbox"] {
            display:none;
        }
        input[type="checkbox"] + label{
            display:inline-block;
            position: relative;
            width:20px;
            height:20px;
            margin: 0px 38px 0px 32px;
            padding: 3px 0 0 25px;
            vertical-align:middle;
            background: url(../images/s02-08-sprite3.png) no-repeat -48px -4px;
            span.radio1 {
                display:inline-block;
                position: absolute;
                top:0;
                width:34px;
                height:27px;
                background-size: cover;
                overflow: hidden;
                background: url(../images/s02-08-sprite2.png) no-repeat -1px -2px;
            }
            span.radio2 {
                display:inline-block;
                position: absolute;
                top:-1px;
                width:34px;
                height:27px;
                background-size: cover;
                overflow: hidden;
                background: url(../images/s02-08-sprite1.png) no-repeat -35px -2px;
            }  
        }
        input[type="checkbox"]:checked + label {
            position: relative;
            background: url(../images/s02-08-sprite3.png) no-repeat 0px -3px;
            span.radio1 {
                background: url(../images/s02-08-sprite2.png) no-repeat -38px -2px;
            }
            span.radio2 {
                background: url(../images/s02-08-sprite1.png) no-repeat 0px -2px;
            }  
        }
        .submit1 {
            position: absolute;
            bottom: 35px;
            right: 30px;
            .cancel {
                display: block;
                float: left;
                box-sizing: border-box;
                height: 50px;
                width: 100px;
                background-color: #394264;
                border-radius: 5px;
                border: 1px solid #394264;
                padding: 0;
                margin: 32px 0px 0 52.5px;
                color: #9095aa;
                font-size: 1.125em;
                font-weight: bold;
                outline: none;
                &:active {
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    color: rgb(255, 255, 255);
                    padding-top: 2px;
                }  
            }
            .process-order {
                display: block;
                float:right;
                box-sizing: border-box;
                height: 50px;
                width: 200px;
                background-color: #1abc9c;
                border: 1px solid #1abc9c;
                border-radius: 5px;
                border: 0px;
                padding: 0;
                margin: 32px 0px 0 20px;
                color: white;
                text-transform: uppercase;
                font-size: 1.125em;
                font-weight: bold;
                outline: none;
                &:active {
                    border: 1px solid rgba(255, 255, 255, 0.8);
                    color: rgba(255, 255, 255, 0.9);
                    padding-top: 2px;
                }
            }
        }
    }
}
