.s02-12 {
    position: relative;
    height: 450px;
    width:305px;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
    div {
        position: absolute;
        height: 140px;
        width: 305px;
        img {
            position: absolute;
            width: 305px;
        }
    }
    .main02-12 {
        height: 240px;
        width:100%;
        background-color: #2b2937;
        top:140px;
        .name02-12 {
            position: relative;
            height: 105px;
        }
        .name02-12 span {
            display: block;
            position: absolute;
            left: 20px;
            top: -27px;
            box-sizing: border-box;
            height:100px;
            width: 100px;
            border:2px solid white;
            border-radius: 100%;
            overflow: hidden;
            img {
                height: 130%;
                width: auto;
                top:-20px;
                left:-25px;
            }
        }
        .name02-12 p.first02-12 {
            display: block;
            position:absolute;
            margin: 12px 0 0 0;
            height: 1.125em;
            color: white;
            left: 137px;
        }
        .name02-12 p.second02-12 {
            display: block;
            position:absolute;
            margin: 12px 0 0 0;
            line-height: 0.875em;
            color: #75788b;
            left: 137px;
            top: 24px;
        }
        .name02-12 button {
            box-sizing: border-box;
            display: block;
            position:absolute;
            left: 137px;
            top: 48px; 
            width: 70px;
            height: 18px;
            margin: 12px 0 0 0;
            line-height: 0.75em;
            font-size: 0.75em;
            color: rgba(255,255,255,.8);
            border-radius: 2px;
            border: 0 transparent;
            background-color: #1abc9c;
            box-shadow: 0 2px 0 #146f5d;
        }
        .text02-12 {
            color: #75788b;
            width: 265px;
            margin: 0 0 0 25px;
            font-size: 0.875em;
        }
    }
    .counters02-12 {
        position: relative;
        height: 70px;
        top: 380px;
        .counters02-12-1 {
            position: static;
            display: inline-block;
            height: 70px;
            width: 90px;
            background-color: black;
        }
    }
}