.s02-10 {
    position: relative;
    width: 980px;
    height: 160px;
    background-color: #2b2937;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #1a1822;
    .quote10 {
        position: absolute;
        width: 630px;
        height: 65px;
        left: 240px;
        top: 35px;
        font-size: 1em;
        line-height: 1.5em;
        color: white;
        p {
            margin: 0;
            color: #686a7c;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -15px;
            left: -50px;
            width: 40px;
            height: 30px;
            background: url(../images/s02-10-2.png) no-repeat no-repeat;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 55px;
            left: 580px;
            width: 40px;
            height: 30px;
            background: url(../images/s02-10-2.png) no-repeat no-repeat;
            transform: rotate(180deg);
        }
    }
    span.avatar1 {
        display: block;
        position: absolute;
        box-sizing: border-box;
        left: 35px;
        top: 30px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid white;
        overflow: hidden;
        img {
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    }
}