
// Variables
$min-width = 110px

/*========
  Libs
=========*/
@import "libs/magnific-popup.styl"
@import "projects/*.styl"

*, *:before, *:after {box-sizing: inherit;-moz-box-sizing: inherit;-webkit-box-sizing: inherit;}
clearfix()
  &:before, &:after{content: ''; display: table; clear: both;}


html, body{
  height: 100%;
  min-width: $min-width;
  background-color: white;
}
.wrapper{
  max-width: $min-width;
  margin: 0 auto;
  height: 100%;  
}


